.box {
  animation: fade 0.5s;

  &:hover {
    transform: scale(1);
}

  .close,
  .setting {
    transition:
      transform 0.3s,
      opacity 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }

}